.main {
	margin-left: 110px;
  transition: all .3s ease-in-out;
}
@media only screen and (max-width: 991px) {
	.main {
    margin-left: 0;
	}
}

.main.open {
	opacity: .8;
	transform: translateX(110px);
}

.in-progress {
	height: 157px;
	right: 570px;
	display: flex;
	z-index: 2;
	position: fixed;
}