:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--background-color: #f9f9ff;
	--breakpoint-0: 0;
	--breakpoint-576: 576px;
	--breakpoint-768: 768px;
	--breakpoint-992: 992px;
	--breakpoint-1200: 1200px;
	--font-family-sans-serif: 'Rubik', sans-serif;
	--font-family-monospace: 'Space Mono', monospace;
}

body {
	margin: 0;
	font-weight: 400;
	text-align: left;
	color: #5e5c7f;
	background: var(--background-color);
	font-family: "Rubik",sans-serif;
	font-size: 16px;
	line-height: 1.7;
	/* overflow-x: hidden; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: sans-serif;
  line-height: 1.15;
	scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

* {
	margin: 0;
	padding: 0;
}

*, :after, :before {
	box-sizing: border-box;
}

@media only screen and (-o-min-device-pixel-ratio:3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio:1.5), 
only screen and (min-device-pixel-ratio:1.5) {
	body, html {
		width: 100%;
		overflow-x: hidden;	
	}
}

.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (min-width: 576px) {
	.container, .container-sm {
    max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
    max-width: 920px;
	}
	
	.container-md, .container-sm {
    max-width: 720px;
	}
}

@media only screen and (min-width: 992px) {
	.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
	}
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled) {
	cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
	appearance: button;
	-webkit-appearance: button;
}

button, select {
	text-transform: none;
}
button, input {
	overflow: visible;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn {
	border-radius: 30px;
	font-family: "Rubik",sans-serif;
	font-size: 16px;
	font-weight: 700;
	overflow: hidden;
	line-height: 1;
	padding: 12px 32px;
	position: relative;
	text-decoration: none;
}

.btn-default {
	color: #fff;
	background: #ff4c60;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}

img {
	max-width: 100%;
	height: auto;
}

img, svg {
	vertical-align: middle;
}

img {
	border-style: none;
}

section {
	padding-top: 110px;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	color: #454360;
	font-family: "Rubik",sans-serif;
	font-weight: 700;
	margin: 20px 0;
}

.col, 
.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5, 
.col-6, 
.col-7, 
.col-8, 
.col-9, 
.col-10, 
.col-11, 
.col-12,
.col-auto, 
.col-lg, 
.col-lg-1, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5,
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

/* section.home {
	padding: 0;
	height: 100vh;
	min-height: 100vh;
}

@media only screen and (max-width: 768px) {
	section.home {
    padding: 300px 0;
	}
} */

